body, div, ul {
  margin:0; padding:0;
}
body {
  min-width:1280px;
  background:rgb(245, 245, 245);
}
.frameBox, section {
  float:none;
  position:relative;
  width:1290px;
  min-width:1230;
  margin:auto;
}
/********************* 页面顶部链接 **********************/
.headerTop {
  position:relative;
  height:40px;
  margin-top:0px;
  background-color:#222;
  z-index:2;
}
.headerTop .frameBox {
  z-index:5;
}
/* 一般链接列表 */
.firstUl {
  margin-left:8px;
}
.firstUl, #sign {
  list-style-type: none;
  float:left;
  padding:13px 0;
}
.firstUl li, #sign li {
  float:left;
  padding:0px 22px 2px;
  line-height:10px;
  text-align: center;
}
.headerTop a {
  display:inline-block;
  line-height:10px;
  font-family:"Arial";
  font-variant: small-caps;
  text-decoration: none;
  color:rgb(176, 176, 176)
}
.rightBorder {
  border-right: 1px solid #666;
}
.headerTop a:hover{
  color:#fff;
}
/* 登录与注册-右浮动 */
#sign {
  float:right;
  margin-right:15px;
}

/* 语言选择下拉菜单 */
#language {
  position:absolute;
  height: 40px;
  left:207px;
  transition:0.3s;
  z-index:10;
}
#language a {
  display:block;
  padding: 14px 22px;
}
#language:hover, #language:hover ul {
  background-color: white;
}
#language:hover a {
  color:#333;
}
#language .downarrow {
  border:1px solid;
  border-top-color:transparent;
  border-left-color:transparent;
  display:inline-block;
  width:5px; height:5px;
  transform: rotate(45deg) translateY(-50%);
}
#language a:hover {
  color:orange;
}
#language ul {
  display:none;
  position:absolute;
  padding-top:8px;
  width:200px;
  box-shadow:0 2px 1px #666;
}
#language ul a:hover {
  background-color:rgb(245, 245, 245);
}
#language ul a {
  padding:10px 22px;
}
#language .arrow_cur {
  float:right;
  margin-right:-5px;
  padding:2px 4px;
  border:solid;
  border-width:0 0 2px 2px;
  transform: rotate(-45deg);
}
#language a span {
  font-size:12px;
}
#language:hover ul {
  display:block;
  left:0; top:40px;
  list-style-type: none;
}

/********************* 头部导航链接 **********************/
nav.frameBox {
  z-index: 1;
}
.miicon {
  position:absolute;
  top:20px; left:30px;
  width:56px; height:56px;
  overflow: hidden;
  background:url("http://i01.appmifile.com/webfile/globalimg/pandora/mihome.png") no-repeat;
  background-position: -56px 0;
  transition:.2s;
  z-index: 2;
  cursor: pointer;
}
.miicon:hover {
  background-position: 0 0;
}
#nav_list {
  position:absolute;
  z-index: 2;
  right:0;
  list-style-type: none;
  line-height:90px;
  min-width:850px;
}
#nav_list li {
  display:inline-block;
  margin:0px 26px;

}
#nav_list a {
  text-decoration:none;
  font-family:"Arial";
  font-size:12px;
  font-weight:bold;
}
.navList a {
  color:#fff;
}
.maskList a {
  color:#333;
}
#nav_list a:hover {
  color: orange;
}
/****************nav遮罩层********************/
.navMask.hide {
  display:none;
}
.navMask.show {
  display:block;
  position:absolute;
  z-index:1;
  height:330px;
  width:100%;
  min-width:1290px;
  background-color:#fff;
}
.lineThrough {
  height:1px;
  width:100%;
  background-color:#eee;
  position:absolute;
  top:90px;
}
.navMask ul {
  position:absolute;
  top:125px;
  list-style-type: none;
}
.navMask li {
  float:left;
  width:140px;
  margin:0 37px;
}
.navMask ul a {
  display:block;
  margin:0 auto;
  height:160px;
  text-align: center;
  text-decoration: none;
  font-size:14px;
  color:#333;
}
/************************切换图片**************************/
div.arrow {
  position: absolute;
  top:90px;
  width:150px;
  height:460px;
  cursor: pointer;
}
#to_pre {
  left:0;
}
#to_next {
  right:0;
}
.arrow span{
  content:"";
  padding:15px;
  float:left;
  margin-top:170px;
  margin-left:60px;
  border:solid white;
  border-width: 4px 0 0 4px;
  transform: rotate(-45deg);
}
#to_next span {
  float:right;
  margin-right:60px;
  transform: rotate(135deg);
}

/*--- headImages--- */
#head_images {
  min-width: 1230px;
  height:550px;
  overflow: hidden;
}
#img {
  position:absolute;
  z-index:-1;
  width:100%;
  height:550px;
  background-position: center;
  cursor: pointer;
  transition: .5s;
}
#img.img0 {
  background-image: url("../images/mix2-0.jpg");
}
#img.img1 {
  background-image: url("../images/mi6-1.jpg");
}
#img.img2 {
  background-image: url("../images/camera-kit-2.jpg");
}
#img.img3 {
  background-image: url("../images/robot-3.jpg");
}
#img_index {
  position:absolute;
  margin:0 auto;
  left:0; right:0;
  top: 515px;
  z-index:1;
  height:22px; width:88px;
}
#img_index a {
  float:left;
  padding:5px;
  margin: 5px;
  border:1px solid #eee;
  border-radius:50%;
  cursor:pointer;
}
#img_index a.cura {
  background-color:rgb(218, 217, 224);
}
#descript {
  position:absolute;
  min-width:468px; min-height:290px;
  top:115px;left:180px;
  color:#eee;
}
@keyframes descMove {
  /* 0% {left:230px; opacity:0;}
  100% {left:180px;} */
  0% {transform: translateX(50px)}
  100% {transform: translateX(0px)}
}
#descript.animate {
  animation: descMove .5s;
}
#descript div{
  display:none;
}
#descript div.cur {
  display:block;
}
#descript p {
  font-family:"Calibri Light";
  margin:0;
  font-weight:lighter;
}
.desc_title {
  font-size:60px;
}
.desc_title_2 {
  font-size:40px;
  line-height: 35px;
  padding-bottom:20px;
}
.desc2 .desc_title, .desc3 .desc_title {
  font-size:50px;
}
.desc2 .desc_title_2, .desc3 .desc_title_2 {
  font-size:30px;
}
.desc_body {
  font-size:12px;
}
#learn_more {
  display:block;
  margin:0;
  position:absolute;
  bottom:10px;
  box-sizing:border-box;
  width:222px; height:40px;
  border:1px solid white;
  line-height:40px;
  text-align: center;
  text-decoration:none;
  color:#eee;
  transition:.5s;
}
#learn_more:hover {
  color:#333;
  background-color:white;
}
section, footer {
  min-width:1290px;
}
.section1, .section2 {
  text-align: center;
}
.section1 img, .section2 img {
  margin:15px 6px;
  transition: .2s linear;
}
.section1 img:hover {
  box-shadow: 0px 8px 12px rgb(200, 200, 200);
}

.section2 p {
  margin-top:30px;
  line-height: 60px;
  font-family: "Arial";
  font-size:28px;
  color:#666;
}
.section2 span {
  display:inline-block;
  width:346px; height:1px;
  background-color: #ddd;
  margin:9px 110px;
}

.section3 {
  padding-top:115px;
  overflow: hidden;
}

.section3 div {
  float:left;
  height:40px;
  line-height: 40px;
  box-sizing: border-box;
  font-family: "Arial";
}
.labelText {
  margin:0 25px;
}
.labelText p {
  margin:4px;
  line-height:1;
  vertical-align: middle; 
}
.labelText .bigger {
  font-size:17px;
  color:#444;
  font-weight: bold;
}
.labelText .smaller {
  font-size:12px;
  color:#888;
}
#form {
  margin: 0 200px 0 15px;
  padding-left: 25px;
  width:266px;
  line-height: 38px; 
  border:1px solid #ccc;
  background-color: white; 
}
#form input {
  border:none;
  outline: none;
  font-size:13px;
}
.submit {
  float:right;
  border:none;
  background-color:white;
  height:38px; width:30px;
  line-height: 36px;
  cursor: pointer;
}
.submit span {
  display:inline-block;
  padding:2px 3px 3px 2px;
  border:solid #aaa;
  border-width:1px 1px 0 0;
  transform: rotate(45deg);
}
.appLink {
  height:40px;
  margin-left: 20px;
}
.appLink a {
  display:inline-block;
  width:20px; height:20px;
  margin:9px 16px;
  font-size:18px;
  color:#bbb;
  text-decoration: none;
}
.appLink a:hover {
  color:#666;
}

footer {
  margin-top:40px;
  padding:40px 0 0;
  height:355px;
  background-color:#222;
  color:#bbb;
  overflow: hidden;
}
footer div {
  float:left;
  margin-right:120px;
}
footer .wraper {
  float:none;
  overflow: hidden;
  margin-left:25px;
}
footer .footTitle {
  font-size: 13px;
  font-weight: 600;
}
footer a {
  color:#bbb;
  font-size: 13px;
  text-decoration: none;
}
footer a:hover {
  color:white;
}
footer .fa {
  font-size:13px;
}
.copyRight {
  clear:both;
  margin:20px 25px;
  line-height:68px;
  border-top:1px solid #444;
  font-size:13px;
}
.copyRight a {
  color:#666;
}
.copyRight a:hover {
  color:red;
}